Repository N1MBER/lime-sso: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write, prettier --write --parser html

feat(Global): update builder, configs, types and add some components
  .eslintrc.js
  babel.config.js
  package.json
  src/App.tsx
  src/components/Gradient/Gradient.css
  src/components/Gradient/Gradient.tsx
  src/components/Gradient/index.tsx
  src/components/Gradient/stripeGradient.ts
  src/components/Layout/Flex/Flex.css
  src/components/Layout/Flex/Flex.tsx
  src/components/Layout/Flex/index.tsx
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/Layout/GradientContainer/index.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/ThemeProvider/index.tsx
  src/types/PropsWithHTMLAttributes.ts
  src/types/type-guards.ts
  src/utils/bem.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

feat(Theme): add light and dark themes and connect to project
  package.json
  src/App.tsx
  src/assets/themes/Theme.css
  src/assets/themes/Theme.tsx
  src/assets/themes/_color/Theme_color_ssoDark.css
  src/assets/themes/_color/Theme_color_ssoLight.css
  src/assets/themes/_control/Theme_control_ssoLight.css
  src/assets/themes/_font/GothamPro-Black.woff
  src/assets/themes/_font/GothamPro-BlackItalic.woff
  src/assets/themes/_font/GothamPro-Bold.woff
  src/assets/themes/_font/GothamPro-BoldItalic.woff
  src/assets/themes/_font/GothamPro-Italic.woff
  src/assets/themes/_font/GothamPro-Light.woff
  src/assets/themes/_font/GothamPro-LightItalic.woff
  src/assets/themes/_font/GothamPro-Medium.woff
  src/assets/themes/_font/GothamPro-MediumItalic.woff
  src/assets/themes/_font/GothamPro.woff
  src/assets/themes/_font/Theme_font_ssoLight.css
  src/assets/themes/_shadow/Theme_shadow_ssoLight.css
  src/assets/themes/_size/Theme_size_ssoLight.css
  src/assets/themes/_space/Theme_space_ssoLight.css
  src/assets/themes/index.ts
  src/assets/themes/presets/presetSsoDark.ts
  src/assets/themes/presets/presetSsoLight.ts
  src/atoms/app/index.ts
  src/atoms/theme/index.tsx
  src/components/Gradient/Gradient.tsx
  src/components/Gradient/stripeGradient.ts
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/index.tsx
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

fix(eslint): fix of eslint
  src/assets/themes/_color/Theme_color_ssoDark.css
  src/assets/themes/_color/Theme_color_ssoLight.css
  src/assets/themes/_font/Theme_font_ssoLight.css
  src/assets/themes/_shadow/Theme_shadow_ssoLight.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix

fix(Theme): fix colors
  src/assets/themes/_color/Theme_color_ssoDark.css
  src/assets/themes/_color/Theme_color_ssoLight.css
Due: stylelint ./src/**/*.css --fix

feat(MixAuth): add new mixin
  src/assets/themes/_color/Theme_color_ssoDark.css
  src/assets/themes/_color/Theme_color_ssoLight.css
  src/mixs/MixAuth/MixAuth.css
  src/mixs/MixAuth/MixAuth.tsx
  src/mixs/MixAuth/index.ts
  src/pages/Login/Login.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix

fix(Minor): minor fixes
  src/App.tsx
  src/components/Layout/GradientContainer/GradientContainer.css
  src/mixs/MixAuth/MixAuth.css
Due: stylelint ./src/**/*.css --fix, eslint --fix

feat(Login): add login page
  package.json
  src/assets/themes/_color/Theme_color_ssoDark.css
  src/assets/themes/_color/Theme_color_ssoLight.css
  src/assets/themes/_control/Theme_control_ssoLight.css
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/MemoWrapper/MemoWrapper.tsx
  src/components/MemoWrapper/index.ts
  src/components/controls/formik/FormikInput/FormikInput.css
  src/components/controls/formik/FormikInput/FormikInput.tsx
  src/components/controls/formik/FormikInput/index.ts
  src/mixs/MixAuth/MixAuth.css
  src/pages/Login/Login.css
  src/pages/Login/Login.tsx
  src/pages/Login/hooks/useForm.ts
  src/utils/formik.ts
  src/utils/validation.ts
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

feat(navigation): add navigation
  package.json
  src/App.tsx
  src/pages/Login/Login.tsx
  yarn.lock
Due: eslint --fix, prettier --write

refactor(Theme): use reatomRecord
  package.json
  src/atoms/theme/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(GradientContainer): add theme toggler
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix

feat(GradientCoontainer): add language toggler
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/App.tsx
  src/atoms/language/index.ts
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/Layout/GradientContainer/helper.ts
  src/i18n.ts
  src/pages/Login/Login.tsx
  src/types/common.ts
  src/types/declarations/i18n.d.ts
  yarn.lock
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

feat(Registration): add new page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/App.tsx
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/index.ts
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/controls/formik/FormikCheckbox/FormikCheckbox.css
  src/components/controls/formik/FormikCheckbox/FormikCheckbox.tsx
  src/components/controls/formik/FormikCheckbox/index.tsx
  src/components/controls/formik/FormikInput/FormikInput.tsx
  src/pages/Login/Login.tsx
  src/pages/Registration/Registration.css
  src/pages/Registration/Registration.tsx
  src/pages/Registration/hooks/useForm.ts
  src/routes/appRoutes.tsx
  src/utils/validation.ts
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

feat(Adaptive): made layout as resonsive
  src/App.tsx
  src/components/Gradient/Gradient.css
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/controls/formik/FormikCheckbox/FormikCheckbox.css
  src/pages/Registration/Registration.css
  src/pages/Registration/Registration.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix

refactor(replace i18 language function to language atom): replace i18 function to language atom
  src/atoms/language/index.ts
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/pages/Registration/Registration.css
Due: stylelint ./src/**/*.css --fix, eslint --fix

feat(Recovery): add recovery page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/Recovery/Recovery.css
  src/pages/Recovery/Recovery.tsx
  src/pages/Recovery/hooks/useForm.ts
  src/pages/Registration/Registration.tsx
  src/routes/appRoutes.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

fix(Adaprive): fix responsive togglers
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/mixs/MixAuth/MixAuth.css
Due: stylelint ./src/**/*.css --fix, eslint --fix

feat(LanguageSelector): add new component
  src/components/LanguageSelector/LanguageSelector.css
  src/components/LanguageSelector/LanguageSelector.tsx
  src/components/Layout/GradientContainer/GradientContainer.css
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/Layout/GradientContainer/helper.ts
  src/mixs/MixAuth/MixAuth.css
Due: stylelint ./src/**/*.css --fix, eslint --fix

fix(Registration): fix links color
  src/components/LanguageSelector/LanguageSelector.css
  src/pages/Registration/Registration.css
Due: stylelint ./src/**/*.css --fix

feat(axios): add requests and configurations
  .env.development
  .env.production
  .eslintrc.js
  package.json
  src/api/actions/iaa.ts
  src/api/actions/users.ts
  src/api/endpoints.ts
  src/api/index.ts
  src/types/iaa.ts
  src/types/users.ts
  src/utils/env.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(Theme): use reatomRecord (#1)
  package.json
  src/atoms/theme/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(Form): connect forms to backend
  .env.development
  .env.production
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/api/actions/iaa.ts
  src/api/endpoints.ts
  src/api/index.ts
  src/atoms/iaa/index.ts
  src/atoms/uuid/index.ts
  src/components/AppRouter/AppRouter.tsx
  src/components/Layout/GradientContainer/GradientContainer.tsx
  src/components/controls/formik/FormikInput/FormikInput.css
  src/components/controls/formik/FormikInput/FormikInput.tsx
  src/hooks/useUuid.ts
  src/pages/Login/Login.tsx
  src/pages/Login/hooks/useForm.ts
  src/pages/Login/hooks/useRequest.ts
  src/pages/Recovery/Recovery.tsx
  src/pages/Recovery/hooks/useRequest.ts
  src/pages/Registration/Registration.tsx
  src/pages/Registration/hooks/useForm.ts
  src/pages/Registration/hooks/useRequest.ts
  src/routes/appRoutes.tsx
  src/types/common.ts
  src/types/iaa.ts
  src/utils/requests.ts
Due: stylelint ./src/**/*.css --fix, eslint --fix, prettier --write

feat(Forms): add autocomplete field
  src/components/controls/formik/FormikInput/FormikInput.css
  src/pages/Login/Login.tsx
  src/pages/Recovery/Recovery.tsx
  src/pages/Registration/Registration.css
  src/pages/Registration/Registration.tsx
Due: stylelint ./src/**/*.css --fix, eslint --fix

fix(routes): fix login navigation
  src/routes/appRoutes.tsx
Due: eslint --fix

feat(atoms): sace uuid atom value on cookies
  package.json
  src/atoms/uuid/index.ts
  src/utils/date.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(Login): uncomment schema validation
  src/pages/Login/Login.tsx
Due: eslint --fix

feat(GradientContainer): hide scrollbar for modal
  src/components/Layout/GradientContainer/GradientContainer.css
Due: stylelint ./src/**/*.css --fix

fix(Registration): fix request data
  src/pages/Registration/hooks/useRequest.ts
Due: eslint --fix

feat(useUuid): made request as optional (only when we change action)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/AppRouter/AppRouter.tsx
  src/hooks/useUuid.ts
  src/pages/Login/hooks/useRequest.ts
  src/pages/Recovery/Recovery.tsx
  src/pages/Recovery/hooks/useForm.ts
  src/pages/Recovery/hooks/useRequest.ts
  src/pages/Registration/hooks/useRequest.ts
Due: eslint --fix, prettier --write

refactor: improve reatom usage
  src/atoms/language/index.ts
  src/components/LanguageSelector/LanguageSelector.tsx
  src/hooks/useUuid.ts
  src/pages/Login/hooks/useRequest.ts
  src/pages/Recovery/hooks/useRequest.ts
  src/pages/Registration/hooks/useRequest.ts
Due: eslint --fix

Path conditions:
  stylelint ./src/**/*.css --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,mdx}
  prettier --write --parser html: any of: *.svg
